.authenticator {
  height: 100vh;
  background: linear-gradient(-45deg, #ffffff, #dddddd, #ffffff, #dddddd);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes authenticator {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  border-radius: 0.625em;
  box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.15);
}
